<div class="fail-message">
    This page could not be found.<br><br>
    You might...
    <ul>
	<li>check for typos/mis-copies.</li>
	<li>search for what you are looking for with the search bar above.</li>
	<li>go to the <a href="/">main page</a> (what else you can do anyway).</li>
    </ul>
</div>
