#header, #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search-form { display: inline-block; }

body {
    background-color: #111111;
    color: white;
}

a, a:active      { text-decoration: none; color: #00cef8; }
a:visited        { text-decoration: red; color: #ac53ac; }
a:hover, a:focus { text-decoration: underline; color: red; }
table { margin-left: 12px; }
th.list, td.list { font: 90% monospace; }
th.list {
    font-weight: bold;
    padding-right: 14px;
    padding-bottom: 3px;
    border-right: 1px solid #5f5f5f;
    border-bottom: 2px solid #afafaf;
    text-align: center;
}
td.list {
    padding-right: 15px;
    border-right: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
}
div.list {
    background-color: black;
    border: 1px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fail-message {
    margin: 15px;
    border: 2px solid #ababab;
    padding: 15px;
    background-color: #661818;
}

html, body {
    height: 100%
}

.the-page {
    min-height: 85%;
}

#footer {
    width: 100%;
    margin-bottom: 5px;
    border-top: 2px solid #ffffff;
    padding: 5px;
}
#header {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
}

#important-page {
    text-align: center;
}
#important-text {
    border: 2px solid #aaaaaa;
    background-color: black:
}

@media (min-width: 768px) {
    #important-page, #important-text {
	padding: 15px;
    }
    #important-text {
	margin-bottom: 15px;
    }
    #folder-page, #user-pages, #settings-page, #upload-file-form, #api-settings, #status-box {
        display: flex;
    }
    #infobox {
        flex: 0 0 25%;
        align-self: flex-start;
        margin-left: 10px;
        margin-right: 10px;
    }
    #folder-entries {
        flex: 75%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    #navbar-search-link {
        display: none;
    }
    #status-left {
        flex: 0 0 50%;
        align-self: flex-end;
	margin: 10px;
    }
}
@media (max-width: 767.99px) {
    #important-page, #important-text {
	padding: 10px;
    }
    #important-text {
	margin-bottom: 10px;
    }
    #infobox {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #navbar-search-bar {
        display: none;
    }
}
#infobox {
    padding: 10px;
    background-color: black;
    border: 1px solid #ffffff;
}

.t_file_entries_n0 { width: 85%; }
.t_file_entries_n1 { width:  5%; }
.t_file_entries_n2 { width: 15%; }
