<div id="infobox">
    <ul>
	<li><a href="/settings">General settings</a></li>
	<li><a href="/settings/api"><b>API settings</b></a></li>
    </ul>
</div>
<div id="folder-entries">
Create an API key:
<form action="/settings/api" method="POST">
    <table>
	<tr>
	    <td>Name</td>
	    <td><input type="text" name="name"/></td>
	</tr>
        <tr>
            <td><input type="hidden" name="CSRFToken" value="<<token>>"/></td>
            <td><button type="submit" name="confirm">Submit</button></td>
        </tr>
    </table>
</form>
<<fragment:page-links:pagelinks>>
<<noescape:apikeys>>
<<fragment:page-links:pagelinks>>
</div>
