<h1>Banning user <<target>>...</h1>
<form method="POST">
    <table>
        <tr rowspan=3>
            <td>Ban reason</td>
            <td><textarea name="reason" rows="5"></textarea></td>
        </tr>
        <tr>
            <td><input type="hidden" name="CSRFToken" value="<<token>>"/></td>
            <td><button type="submit" name="confirm">Ban <<target>></button></td>
        </tr>
    </table>
</form>