<div id="infobox">
    Folder: <<name>><<noescape:favlink>><br>
    <<noescape:thumblink>>
    Created by: <<noescape:username>><br>
    Upload time: <code><<uploadtime>></code><br>
    Views: <<views>>, downloads: <<downloads>><br>
    Favourites: <<favourites>>, size: <<size>><br>
    <br>
    Download this folder as: <a href="/download/<<name>>.zip">zip</a> - <a href="/download/<<name>>.zip?compress=1">(compressed)</a> | <a href="/download/<<name>>.tar">tar</a> | <a href="/download/<<name>>.tgz">tar.gz</a><br>
    <<noescape:controls>>
    <hr>
    <<description>>
</div>
<div id="folder-entries">
<<noescape:currentlyat>>
<<fragment:page-links:pagelinks>>
<<noescape:entries>>
<<fragment:page-links:pagelinks>>
</div>