<h1>Login to WhiteBox</h1>
<form action="/login" method="POST">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" required/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <td><input type="hidden" name="CSRFToken" value="<<token>>"/>
                <input type="hidden" name="next" value="<<redir>>"/></td>
            <td><button type="submit" name="confirm">Login</button></td>
        </tr>
    </table>
</form>