<p><i>
    [[This instance of WhiteBox has not defined a page to show here. Click "Continue" below.]]<br>
    Note to the webadmin: Please change this text by putting an HTML file to <code>[maindir]/pages/fragments/</code> corresponding to this page.<br>
    This is <code>pre-upload-text.html</code>
    <hr><br>
    Please also read the <a href="/tos">terms of service</a> for things (possibly) not covered above.
</i></p>