<div id="important-page">
    <h2>Please read before continuing:</h2>
    <div id="important-text"><<fragment:pre-upload-text>></div>
    <form action="/upload" method="POST">
        <button type="submit" name="submit">Continue</button>
    </form>
</div>
