<h1>Register to WhiteBox</h1>
<p>Your password must contain:<ul>
    <li>Minimum 8 characters</li>
    <li>A lower-case and upper-case letter, number and symbol</li>
</ul></p>

<form action="/register" method="POST">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" required/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" required/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <td>Confirm password</td>
            <td><input type="password" name="confirmer" required/></td>
        </tr>
	<tr>
	    <td colspan="2"><input type="checkbox" name="tosread">I confirm that I read the <a href="/tos">terms of service</a>.</input>
	</tr>
        <tr>
            <td><input type="hidden" name="CSRFToken" value="<<token>>"/>
                <input type="hidden" name="next" value="<<redir>>"/></td>
            <td><button type="submit" name="confirm">Register</button></td>
        </tr>
    </table>
</form>