<form action="/search" method="GET">
    <input type="text" name="q" value="<<term>>"/>
    <select name="space" value="<<space>>">
	<option value="folder" <<folselect>>>Folders</option>
        <option value="user" <<useselect>>>Users</option>
        <option value="category" <<catselect>>>Categories</option>
    </select>
    <button type="submit">Search</button>
</form>