<div id="infobox">
    <ul>
	<li><a href="/settings"><b>General settings</b></a></li>
	<li><a href="/settings/api">API settings</a></li>
    </ul>
</div>
<div id="folder-entries">
<form action="/settings" method="POST">
    <table>
        <tr><th>Basic Stuff</th><th></th></tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" value="<<currname>>"/></td>
        </tr>
	<tr>
            <td>Email address</td>
            <td><input type="email" name="email" value="<<curremail>>"/></td>
	</tr>
        <tr rowspan=3>
            <td>Description</td>
            <td><textarea name="description" rows="5"><<currdesc>></textarea></td>
        </tr>

        <tr rowspan=5><td></td></tr>
        <tr><th>Misc. settings</th><th></th></tr>
        <tr>
            <td>Public favourite list?</td>
            <td><input type="checkbox" name="pubfavs" <<ispubfavs>>/></td>
        </tr>

        <tr rowspan=5><td></td></tr>
        <tr><th>Changing passwords</th><th></th></tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>Confirm new password</td>
            <td><input type="password" name="confirmer"/></td>
        </tr>

        <tr rowspan=5><td></td></tr>
        <tr><th>Confirming</th><th></th></tr>
        <tr>
            <td>Current password</td>
            <td><input type="password" name="currentpass" required/></td>
        </tr>
        <tr>
            <td><input type="hidden" name="CSRFToken" value="<<token>>"/></td>
            <td><button type="submit" name="confirm">Submit</button></td>
        </tr>
    </table>
</form>
</div>
