<h1>WhiteBox Status</h1>

<h3>Basic details:</h3>
<pre>
Number of folders:   <<folnum>>
Number of users:     <<accnum>>
Files on record:     <<filnum>>
Total size of files: <<fdsize>>
</pre>

<div id="status-box">
  <div id="status-left">
    <h3>Last <<lastfold>> folder(s):</h3>
    <<noescape:lastfolders>>
  </div>
  <div id="status-right">
    <h3>Last <<lastuser>> user(s):</h3>
    <<noescape:lastusers>>
  </div>
</div>
