<div id="infobox">
    Currently <<uptype>> folder: <<name>><br>
    <<noescape:thumblink>>
    Current size: <<size>><br>
    <hr>
    Maximum size for a file: <<maxsize>> (<<maxsizebytes>>)<br>
    <hr>
    <<description>>
</div>
<div id="folder-entries">
<<noescape:currentlyat>>
<form action="/upload/upload" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td colspan="2"><input type="file" name="filedata"/></td>
            <td colspan="2"><input type="text" name="url"/></td>
        </tr>
        <tr>
            <td><button type="submit" name="upload">Upload file to folder</button></td>
            <td><button type="submit" name="upload_arc">Import archive to folder</button></td>
            <td colspan="2"><button type="submit" name="upload_url">Import from URL</button></td>
	</tr>
	<tr>
            <td><button type="submit" name="confirm">Finish</button></td>
            <td><button type="submit" name="cancel">Cancel</button></td>
        </tr>
        <tr>
            <td colspan="4" style="color: #aaaaaa;"><i>* Only the file upload will be handled if both are provided.</i></td>
        </tr>
    </table>
</form>
<br>

<<fragment:page-links:pagelinks>>
<<noescape:filetable>>
<<fragment:page-links:pagelinks>>
</div>