<form action="/upload/new" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Folder name(*)</td>
            <td><input type="text" name="name" value="<<name>>" required/></td>
        </tr>
        <tr>
            <td>Category</td>
            <td><select name="category">
                <<noescape:categorylist>>
            </select></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name="desc" rows="5"><<desc>></textarea></td>
        </tr>
        <tr>
            <td>Thumbnail*</td>
            <td><input type="file" name="thumbnail"/></td>
        </tr>
        <tr>
            <td><input type="hidden" name="CSRFToken" value="<<csrf>>"/></td>
            <td><button type="submit">Submit</button></td>
        </tr>
        <tr>
            <td colspan="2" style="color: #aaaaaa"><i>* max <<maxwidth>>x<<maxheight>> or <<maxsize>>, JPG or PNG</i></td>
        </tr>
    </table>
</form>
