<div id="infobox">
    User: <<noescape:name>><<noescape:email>><br>
    Type: <<noescape:usertype>><br>
    Created at: <code><<creationtime>></code><br>
    Number of folders: <<foldercount>><br>
    <<noescape:elinks>>
    <hr>
    <<description>>
</div>
<div id="folder-entries">
<<fragment:page-links:pagelinks>>
<<noescape:foldertable>>
<<fragment:page-links:pagelinks>>
</div>
